.form-group {
	margin-bottom: 2px;
}

input.form-control {
	padding: 0px 6px;
	height: 30px;
}

input.form-control[type='file'] {
	padding-top: 3px;
}

select.form-control {
	padding: 0px 3px !important;
}

.help-block {
	margin: 6px 0px;
}

.panel-heading {
	padding: 4px 10px;
}

.panel-body {
	padding: 10px 0px 0px 0px !important;
}

.note-editable {
	padding: 10px 10px !important;
}

.select2-selection {
	padding: 4px 0px 0px 3px !important;
	height: 30px !important;
}